/*
!.gitignore
!.gitmodules
!/CMakeLists.txt
!/README.md
!/COPYING
!/screenshot.png
!/mazemaze.desktop.in
!/.travis.yml

!/cmake/

!/src/
/src/*

!/src/*/
/src/*/*

!/src/*/*/
/src/*/*/*

!/src/*/*/*/
/src/*/*/*/*

!/src/*/*/*/*/
/src/*/*/*/*/*

!/src/**/*.cpp
!/src/**/*.hpp

!/data
!/data/**

!/locale/
/locale/*
!/locale/CMakeLists.txt
!/locale/*.pot
!/locale/??
/locale/??/*
!/locale/??/LC_MESSAGES
/locale/??/LC_MESSAGES/*.mo

!/lib

!/sfgui

/deb/DEBIAN/md5sums
/deb/DEBIAN/usr/share/applications/mazemaze.desktop
/deb/opt/*

!/scripts
