/*
!.gitignore
!.gitmodules
!/CMakeLists.txt
!/README.md
!/COPYING
!/screenshot.png

!/src/
/src/*

!/src/*/
/src/*/*

!/src/*/*/
/src/*/*/*

!/src/*/*/*/
/src/*/*/*/*

!/src/*/*/*/*/
/src/*/*/*/*/*

!/src/**/*.cpp
!/src/**/*.hpp

!/data
!/data/**

!/locale/
/locale/*
!/locale/CMakeLists.txt
!/locale/*.pot
!/locale/??
/locale/??/*
!/locale/??/LC_MESSAGES
/locale/??/LC_MESSAGES/*.mo

!/include

!/sfgui
