language: cpp

addons:
    apt_packages:
    - cmake
    - curl

os: linux

jobs:
    include:
        - name: "Linux GCC"
          compiler: gcc
          dist:     bionic
          env:
          - DEPLOY=TRUE
          - ARCH=x86_64
          addons:
              apt_packages:
              - libxrandr-dev
              - libudev-dev
              - g++
              - libgl1-mesa-dev
              - libjsoncpp-dev
              - curl
              - fakeroot
              - hashdeep

        - name: "Linux Clang"
          compiler: clang
          dist:     bionic
          env:
          - ARCH=x86_64
          addons:
              apt_packages:
              - libxrandr-dev
              - libudev-dev
              - clang
              - libgl1-mesa-dev
              - libjsoncpp-dev
              - curl

        - name: "Windows x86_64 static cross-compile"
          compiler: gcc
          dist:     bionic
          env:
          - WINDOWS=TRUE
          - DEPLOY=TRUE
          - ARCH=x86_64
          addons:
              apt_packages:
              - imagemagick

        - name: "Windows i686 static cross-compile"
          compiler: gcc
          dist:     bionic
          env:
          - WINDOWS=TRUE
          - DEPLOY=TRUE
          - ARCH=i686
          addons:
              apt_packages:
              - imagemagick

before_script:
    - source scripts/before_script.sh

script:
    - source scripts/script.sh

before_deploy:
    - source scripts/before_deploy.sh

deploy:
    provider: releases
    token: $GITHUB_OAUTH_TOKEN
    file_glob: true
    file: deploy/*
    skip_cleanup: true
    draft: true
    on:
        condition: $DEPLOY = TRUE

notifications:
    email: false
